@import "../../../styles/variables.scss";

html.preventScroll {
  height: 100vh;
  overflow: hidden;
  transition: all 150ms ease-out;
}

.PageOverlay {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: absolute;
  z-index: 10;

  .overlay {
    animation: fade-in 0.4s ease-in both;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    height: 100vh;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100vw;
  }

  .window {
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    @include borderRadius;
    @include shadow;
    background-color: $pallete4;
    padding: 17px;
    position: relative;
    width: 300px;
    z-index: 10;
    header {
      align-items: center;
      color: $pallete1;
      justify-content: space-between;
      display: flex;
      font-size: 16px;
      h2 {
        font-size: 18px;
      }
      .close {
        transform: translateX(25%);
        @include expandClickable();
      }
    }
    .content {
      max-height: 60vh;
      overflow-y: auto;
    }
  }

  @keyframes slide-top {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
