@import "../../styles/variables.scss";

.Chat, .NoChat {
  display: grid;
  grid-template-rows: calc(100vh - 60px - $headerHeight) 60px;

  position: relative;
  z-index: 10;
  .bg {
    background: url("../../images/background.png");
    content: "";
    opacity: .06;

    display: block;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  &.mediumMessage {
    grid-template-rows: calc(100vh - 82px - $headerHeight) 82px;
  }
  &.largeMessage {
    grid-template-rows: calc(100vh - 104px - $headerHeight) 104px;
  }
  .messages {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.NoChat {
  place-items: center;
  main {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    figure {
      margin-bottom: 25px;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    p.text {
      margin-bottom: 45px;
    }
  }
}
