@import '../../../styles/variables.scss';

.MenuHeader {
  button {
    background: none;
    padding: 0 5px;
  }

  div {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
  }
  ul {
    background-color: $pallete0;
    bottom: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: $headerHeight - 1px;
    width: 16rem;
    transform: translateX(100vh);
    transition: all ease-out 0.25s;
    z-index: 100;
    &.opened {
      opacity: 1;
      transform: translateX(0);
    }

    li {
      a, button {
        align-items: center;
        color: $pallete4;
        display: flex;
        font-weight: bold;
        padding: 16px 26px;
        text-decoration: none;
        svg {
          margin-right: 8px;
        }
      }
    }
  }
}
