$pallete0: #6e4597;
$pallete1: #95b810;
$pallete2: #93827f;
$pallete3: #2f2f2f;
$pallete4: #f7f7f2;
$palleteError: #CD2525;
$headerHeight: 60px;

$borderRadius: 6px;
@mixin borderRadius {
  border-radius: $borderRadius;
}

$innerBorderRadius: 4px;
@mixin innerBorderRadius {
  border-radius: $innerBorderRadius;
}

@mixin shadow {
  // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0 1px 1px rgba(0,0,0,.25));
}

@mixin innerShadow {
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.25);
}

@mixin invertedInnerShadow {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}

@mixin expandClickable($padding: 10px, $debug: false) {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: -$padding;
    left: -$padding;
    right: -$padding;
    top: -$padding;
    @if $debug == true {
      background: #e8347455;
    }
  }
}

@mixin sm {
	@media (min-width: 780px) {
			@content;
	}
}


:export {
	pallete0: $pallete0;
	pallete1: $pallete1;
	pallete2: $pallete2;
	pallete3: $pallete3;
	pallete4: $pallete4;
  palleteError: $palleteError;
}
