@import "../../styles/variables.scss";

.ChatListAndChat {
  .ChatList {
    display: none; 
  }
  
  @include sm {
    display: flex;
    justify-content: flex-end;
    .ChatList {
      background: linear-gradient(90deg, rgba(247,247,242,1) 0%, rgba(247,247,242,1) 88%, rgba(228,228,224,1) 97%, rgba(200,200,200,1) 100%);
      display: initial; 
      width: 18rem;
    }
    .Chat {
      align-self: flex-end;
      flex: 1;
    }
  }

  &.noChat {
    .ChatList {
      display: flex;
      flex: 1;
    }
  }
}
