@import "../../../styles/variables.scss";

.ChatListAndChat {
  display: flex;
  justify-content: flex-end;
  .chatList {
    display: none;
    @include sm {
      display: block;
    }
  }
  .chat {
    align-self: flex-end;
    flex: 1;
  }
}
