@import "../../styles/variables.scss";

.header {
  height: $headerHeight;
  background-color: yellow;
  > div {
    align-items: center;
    background-color: $pallete0;
    display: flex;
    height: $headerHeight;
    justify-content: space-between;
    padding-left: 16px;
    position: fixed;
    width: 100vw;
    z-index: 10;

    .title {
      color: $pallete4;
      flex: 1;
      font-size: 21px;
      margin: 0;
      margin-left: 16px;
      padding: 0;
    }
  }
}
