@use "../../styles/variables.scss";

.page {
  display: grid;
  grid-template-rows: 60px auto;
  height: 100vh;
  .main {
    display: grid;
    width: 100vw;
    position: relative;
    z-index: 100;
    &.middle {
      align-items: center;
    }
  }
}
