@import '../../../styles/variables.scss';

.ChatList {
  background-color: rgba($pallete4, .8);
  
  .list {
    padding: 16px;
    .chat {
      margin-bottom: 32px;
    }
  }

  .newChatButton {
    bottom: 43px;
    position: fixed;
    right: 38px;
  }
}
