@import "../../styles/variables.scss";
.SignInOrSignUp {
  .container {
    padding: 17px;
    position: relative;
    .title {
      color: $pallete0;
      font-size: 24px;
      margin-bottom: 20px;
    }
    .container {
      @include borderRadius;
      @include shadow;
      background-color: $pallete4;
      padding: 50px 38px;

      form {
        > .input {
          margin-bottom: 35px;
        }

        > .button {
          display: flex;
          justify-content: center;
          padding: 13px 0 60px;
        }

        > div.link {
          display: flex;
          justify-content: center;
          a {
            @include expandClickable;
            color: $pallete0;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
