@import "../../../styles/variables.scss";
.SignInOrSignUp {
  form {
    .errorMessage {
      margin: 0 -16px 26px -16px;
    }
    .input {
      margin-bottom: 25px;
    }

    .button {
      display: flex;
      justify-content: center;
      padding: 13px 0 20px;
    }
  }
  div.link {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    a {
      @include expandClickable;
      color: $pallete0;
      text-decoration: underline;
    }
  }
}
