@import '../../../styles/variables.scss';

.ChatMessage {
  @include shadow;
  @include borderRadius;
  background-color: $pallete4;
  margin-bottom: 8px;
  max-width: 90%;
  padding: 16px;

  &.messageIsFromCurrentUser {
    background-color: #EBFEA3;
    align-self: flex-end;
  }

  .userNameAndHour {
    display: flex;
    font-size: 12px;
    flex-wrap: nowrap;
    justify-content: space-between;
    .user {
      color: $pallete2;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .hours {
      opacity: .6;
    }
  }

}
